/* colors
morado claro: 7D68E9, 
morado oscuro: 31338A, */

.days-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title-days {
	color: #31338a;
	font-size: 35px;
	font-weight: 300;
	margin: 0 0 40px 0;
}

.strong-days {
	font-weight: 800;
}

.ul-days {
	margin: 0;
	padding: 0;
	height: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex-day-details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	border-radius: 20px;
	margin: 5px 0;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.max-min-temp {
	height: 100%;
	width: 40%;
	background: #dbe5f3;
	color: #757575;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s ease;
}

.max-min-temp:hover {
	background: #7d68e9;
	color: white;
}

.p-weather-days {
	color: #31338a;
	font-size: 16px;
	font-weight: 300;
}

.p-temp-days {
	font-size: 12px;
	font-weight: 700;
}

@media (max-width: 768px) {
	.flex-day-details {
		margin-bottom: 20px;
		height: 80px;
	}
}
